In [73]:
import pandas as pd
import bamboolib

In [114]:
data = pd.read_csv("Insurance_Forecast.csv")
data

      age  female     bmi  children  smoker     region      charges
0      19       1  27.900         0       1  southwest  16884.92400
1      18       0  33.770         1       0  southeast   1725.55230
2      28       0  33.000         3       0  southeast   4449.46200
3      33       0  22.705         0       0  northwest  21984.47061
4      32       0  28.880         0       0  northwest   3866.85520
...   ...     ...     ...       ...     ...        ...          ...
1333   50       0  30.970         3       0  northwest  10600.54830
1334   18       1  31.920         0       0  northeast   2205.98080
1335   18       1  36.850         0       0  southeast   1629.83350
1336   21       1  25.800         0       0  southwest   2007.94500
1337   61       1  29.070         0       1  northwest  29141.36030

[1338 rows x 7 columns]