In [19]:
import pandas as pd

In [21]:
data = pd.read_csv("Insurance_Forecast.csv")
data

      age  female     bmi  children  smoker     region      charges
0      19       1  27.900         0       1  southwest  16884.92400
1      18       0  33.770         1       0  southeast   1725.55230
2      28       0  33.000         3       0  southeast   4449.46200
3      33       0  22.705         0       0  northwest  21984.47061
4      32       0  28.880         0       0  northwest   3866.85520
...   ...     ...     ...       ...     ...        ...          ...
1333   50       0  30.970         3       0  northwest  10600.54830
1334   18       1  31.920         0       0  northeast   2205.98080
1335   18       1  36.850         0       0  southeast   1629.83350
1336   21       1  25.800         0       0  southwest   2007.94500
1337   61       1  29.070         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [26]:
data = data.select_dtypes(include= 'number') #.columns.tolist()

X = data.drop(columns='charges')
y = data.charges

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train.shape, X_test.shape

((1003, 5), (335, 5))

In [27]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
imputer.fit(X_train)

X_train_clean = imputer.transform(X_train)
X_test_clean = imputer.transform(X_test)

In [45]:
from sklearn.preprocessing import StandardScaler

In [47]:
st = StandardScaler()
st.fit(X_train_clean)

X_train_clean = st.transform(X_train_clean)
X_test_clean = st.transform(X_test_clean)

In [48]:
from sklearn.linear_model import SGDRegressor

In [49]:
sgd = SGDRegressor()

In [50]:
model = sgd.fit(X_train_clean, y_train)

In [51]:
y_pred = model.predict(X_test_clean)

In [52]:
from sklearn.metrics import mean_squared_error, r2_score

In [53]:
r2 = r2_score(y_test,y_pred)

msre = mean_squared_error(y_test,y_pred)**0.5

In [54]:
print(msre)
print(r2)

5684.042831680653
0.7947823362254658